<!-- careers.component.html -->

<div class="careers-container">
    <div class="careers-box">
        <h1 class="careers-heading">Join Our Team</h1>
        
        <div class="careers-content">
            <p>We're always looking for talented individuals to join our team and help us revolutionize the travel industry. If you're passionate about travel and technology, we'd love to hear from you!</p>
            
            <p>Explore our current job openings below and apply today:</p>
            
            <ul>
                <li><a href="#" class="careers-link">Senior Software Engineer</a></li>
                <li><a href="#" class="careers-link">Digital Marketing Specialist</a></li>
                <li><a href="#" class="careers-link">Customer Service Representative</a></li>
                <li><a href="#" class="careers-link">UX/UI Designer</a></li>
                <li><a href="#" class="careers-link">Content Writer</a></li>
                <li><a href="#" class="careers-link">Business Development Manager</a></li>
                <li><a href="#" class="careers-link">Data Analyst</a></li>
                <!-- Add more job listings as needed -->
            </ul>
        </div>
    </div>
</div>
