/* footer.component.css */

.footer {
  background-color: #e9f1fa; /* Light background color */
  padding: 20px 0; /* Adjust padding as needed */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 260px;
  padding-top: 0px;
}

.our-offerings {
  background-color: #e9f1fa;
  padding: 10px 20px;
  border-left: 5px solid #333;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  font-family: 'Noto serif', serif;
}

.arrow {
  position: absolute;
  left: 10px;
}

.footer-content {
  display: flex;
}

.footer-item {
  flex: 1;
  padding: 0 30px; /* Add padding to the sides */
  margin: 0 10px; /* Add margin to create gaps */
}

.footer-heading {
  font-weight: bold;
  font-family: 'Noto serif', serif;
}

.links-list {
  list-style-type: none;
  padding: 0;
}

.links-list li {
  margin-bottom: 10px;
}

.links-list li a {
  text-decoration: none;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.links-list li a:hover {
  text-decoration: underline;
}

hr {
  border: none; /* Remove default border */
  height: 1px; /* Set the height of the line */
  background-color: #8f8d8b; /* Set the color of the line */
  margin: 20px auto; /* Adjust margin to leave space on top and bottom, and center horizontally */
  max-width: 80%;
}

.credit {
  margin-top: 15px;
}
