<footer class="footer">
  <div class="container">
      <div class="our-offerings">
          <span class="arrow"></span>  OUR OFFERINGS
        </div>
    <div class="footer-content">
      <div class="footer-item">
        <h4 class="footer-heading">Help</h4>
        <ul class="links-list">
          <li><a href="https://support.google.com/?hl=en" target="_blank" rel="noopener noreferrer">Help Center</a></li>
          <li><a href="https://www.smartertravel.com/common-travel-questions-answered/" target="_blank" rel="noopener noreferrer">FAQs</a></li>
          <li><a href="https://policies.google.com/privacy?hl=en-US" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
          <li><a href="https://termly.io/resources/templates/cookie-policy-template/" target="_blank" rel="noopener noreferrer">Cookie Policy</a></li>
          <!-- <li><a href="/terms-of-use" target="_blank" rel="noopener noreferrer">Terms of Use</a></li> -->
        </ul>
      </div>
      <div class="footer-item">
        <h4 class="footer-heading">Company</h4>
          <ul class="links-list">
            <li><a routerLink="/about">About</a></li>
              <li><a href="https://www.google.com/about/careers/applications/" target="_blank" rel="noopener noreferrer">Careers</a></li>
              <li><a href="https://timesofindia.indiatimes.com/travel/travel-news" target="_blank" rel="noopener noreferrer">Press</a></li>
              <li><a href="https://www.travelblog.org/" target="_blank" rel="noopener noreferrer">Blog</a></li>
            </ul>
      </div>
      <!-- <div class="footer-item">
        <h4 class="footer-heading">Destinations</h5>
          <ul class="links-list">
              <li><a href="https://sgp.agoda.com/info/contact.html?ds=fFlunJNXrEe71dD7" target="_blank" rel="noopener noreferrer">Countries/Territories</a></li>
              <li><a href="/faqs" target="_blank" rel="noopener noreferrer">Cities</a></li>
            </ul>
      </div> -->
      <div class="footer-item">
        <h4 class="footer-heading">Quick Links</h4>
          <ul class="links-list">
            <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/book">Holiday</a></li>
              <!-- <li><a href="/privacy-policy" target="_blank" rel="noopener noreferrer">Holiday</a></li> -->
              <li><a routerLink="/login">Login</a></li>
              <li><a routerLink="/about">About</a></li>
            </ul>
      </div>
      <div class="footer-item">
          <h4 class="footer-heading">Socials</h4>
          <ul class="links-list">
            <li><a href="https://www.facebook.com/yourpage" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook first-icon"></i> Facebook</a></li>
            <li><a href="https://twitter.com/yourpage" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li><a href="https://www.instagram.com/travelarena/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i> Instagram</a></li>
            <li><a href="https://www.youtube.com/@travelarena7856" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube"></i> Youtube</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer-heading">Contact Us</h4>
          <ul class="contact-list">
         
            <li><a href="mailto:example@example.com"> Email</a></li>
            <li>Phone: +91 8907653241</li>
          </ul>
        </div>
       
    </div>
    <div class="credit" style="margin: 15px 0; text-align: center; ">
      <p>© 2024 Voyager PVT. LTD.
 
         <b>Country India USA UAE</b></p>
    </div>
   
  </div>
