<footer id="footer">
    <h1>Voyager</h1>
    <p>Thank-you for visiting our page.</p>
    <div class="social-links">
      <i class="bi bi-twitter"></i>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-youtube"></i>
      <i class="bi bi-pinterest"></i>
    </div>
    <div class="credit" style="margin: 15px 0;">
      <p>Designed By <b>Vishakh & Shishir</b></p>
    </div>
    <!-- <div class="copyright">
      <p>&copy;All Rights Reserved</p>
    </div> -->
  </footer>