

<footer class="footer">
  <div class="container">
      <div class="our-offerings">
          <span class="arrow"></span>  OUR OFFERINGS
        </div>
    <div class="footer-content">
      <div class="footer-item">
        <h6 class="footer-heading">Help</h6>
        <ul class="links-list">
          <li><a href="https://sgp.agoda.com/info/contact.html?ds=fFlunJNXrEe71dD7" target="_blank" rel="noopener noreferrer">Help Center</a></li>
          <li><a href="https://www.smartertravel.com/common-travel-questions-answered/" target="_blank" rel="noopener noreferrer">FAQs</a></li>
          <li><a href="https://journeytours.com/client-resources/privacy-policy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
          <li><a href="/cookie-policy" target="_blank" rel="noopener noreferrer">Cookie Policy</a></li>
        </ul>
      </div>
      <div class="footer-item">
        <h6 class="footer-heading">Company</h6>
          <ul class="links-list">
              <li><a href="#about" rel="noopener noreferrer">About</a></li>
              <li><a href="#home-section" target="_blank" rel="noopener noreferrer">Careers</a></li>
              <li><a href="/privacy-policy" target="_blank" rel="noopener noreferrer">Press</a></li>
              <li><a href="/cookie-policy" target="_blank" rel="noopener noreferrer">Blog</a></li>
            </ul>
      </div>
      <!-- <div class="footer-item">
        <h4 class="footer-heading">Destinations</h5>
          <ul class="links-list">
              <li><a href="https://sgp.agoda.com/info/contact.html?ds=fFlunJNXrEe71dD7" target="_blank" rel="noopener noreferrer">Countries/Territories</a></li>
              <li><a href="/faqs" target="_blank" rel="noopener noreferrer">Cities</a></li>
            </ul>
      </div> -->
      <div class="footer-item">
        <h6 class="footer-heading">Quick Links</h6>
          <ul class="links-list">
              <li><a href="">Home</a></li>
              <li><a routerLink='book'    target="_blank" rel="noopener noreferrer">Book</a></li>
              <li><a href="/privacy-policy" target="_blank" rel="noopener noreferrer">Login</a></li>
              <li><a routerLink='packages' target="_blank" rel="noopener noreferrer">Packages</a></li>
            </ul>
      </div>
      <div class="footer-item">
          <h6 class="footer-heading">Connect With Us</h6>
          <ul class="links-list">
            <li><a href="https://www.facebook.com/yourpage" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook first-icon"></i> Facebook</a></li>
            <li><a href="https://twitter.com/yourpage" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li><a href="https://www.instagram.com/travelarena/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i> Instagram</a></li>
            <li><a href="https://www.youtube.com/@travelarena7856" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube"></i> Youtube</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h6 class="footer-heading">Contact Us</h6>
          <ul class="contact-list">
          
            <li><a href="mailto:example@example.com"> Email</a></li>
            <li>Phone: +91 8907653241</li>
          </ul>
        </div>
        
    </div>
    
  </div>
  <div class="black-background">
    <div class="container">
      <div class="additional-div">
        <div class="left-div">
          <div class="triplogo">
            <img src="https://www.intel.com/content/dam/logos/isel-footer-logo.svg" alt="Image" />
          </div>
          <div class="paraline"><p>Travel Arena offers a comprehensive travel experience, providing access to over 500 
            <br>
            airlines for flight bookings, a vast network of accommodations for hotel reservations, 
             <br>
             trusted cab operators for transportation, and seamless bus ticket bookings with 
             <br>
             connections to over 2000 operators.With Travel Arena, your journey is made easy, ensuring memorable travel experiences every time.</p>
          </div>
        </div>
        <div class="right-div">
            <div class="download">
                
                <div class="downtext">
                    Download Travel Arena App 
                    <span class="blueline"></span>
                </div>
                <div class="apps">
                    <div class="apiconh1">
                        <a href="https://play.google.com/store/apps/category/TRAVEL_AND_LOCAL?hl=en_IN&gl=US&pli=1" target="_new">
                            <img src="https://www.easemytrip.com/images/common/footer/androidft.png" alt="Google Play" width="120px" height="40px" />
                        </a>
                    </div>
                    <div class="apiconh2">
                        <a href="https://apps.apple.com/us/charts/iphone/travel-apps/6003" target="_new">
                            <img src="https://www.easemytrip.com/images/common/footer/iosnovft.png" alt="App Store" width="120px" height="40px" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="logoqr">
                <div class="scantext">
                    Scan QR Code
                    <span class="blueline"></span>
                </div>
                <div class="qrlogo">
                    <div class="qdrt">
                        <img src="https://www.easemytrip.com/images/common/footer/ftnovqrcode.png" alt="Scan QR" width="70px" height="70px" />
                    </div>
                </div>
            </div>
        </div>
      </div>
      <hr>
<div class="copyright-text">
  <p>All content contained herein is © 2000–2024 Travel Arena Company Pvt. Ltd. All rights reserved.</p>

    <p>Travel Arena operates under Booking Holdings Inc., the global leader in online travel services.</p>
</div>

    </div>
  </div>
</footer>
