<!-- faqs.component.html -->

<div class="faqs">
    <h1>Frequently Asked Questions</h1>
  
    <div class="faq-item" *ngFor="let faq of faqList; let i = index" (click)="toggleAnswer(i)">
      <h3>{{ faq.question }}</h3>
      <p *ngIf="faq.isOpen">{{ faq.answer }}</p>
    </div>
  </div>
  <footer id="footer">
    <h1><span>V</span>oyager</h1>
    <p>Thank-you for visiting our page.</p>
    <div class="social-links">
      <a href="https://twitter.com/your_twitter_handle" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/your_facebook_page" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/your_instagram_account" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.youtube.com/your_youtube_channel" target="_blank"><i class="bi bi-youtube"></i></a>
      <a href="https://www.pinterest.com/your_pinterest_account" target="_blank"><i class="bi bi-pinterest"></i></a>
    </div>
    <div class="credit" style="margin: 15px 0;">
      <p>© 2024 Voyager PVT. LTD.
 
         <b>Country India USA UAE</b></p>
    </div>
  </footer>