@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Poppins:wght@400;500;600&display=swap");

.about{
    background-color: #F4F7FE;
}
.main-txt h1{
    color: white;
    text-align: center;
    font-weight: 600;
    text-shadow: 0px 1px 1px #33333383;
    color: #1a2c50;
    font-weight: 900;
    font-family: 'Noto serif', serif;
}

.main-txt span{
    color: #1a2c50;
    font-weight: 900;
    font-family: 'Noto serif', serif;
}

// .about{
//     margin-top: 0;
//     background: #ece4dc;
// }

.about .card{
    border-radius: 10px;
}

.about .card img{
    border-radius: 10px;
}

.about h2{
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Noto serif', serif;
}

.about p{
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

#about-btn:hover{
    width: 170px;
}

@media (max-width:765px){
    .about{
        padding: 0;
    }
}

.hidden-text{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}
.hidden-text.show{
    max-height: 1000px;
}