<section class="about" id="about">
    <div class="container">

      <div class="main-txt">
        <h1>About <span>Us</span></h1>
      </div>

      <div class="row" style="margin-top: 50px;">

        <div class="col-md-6 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/about-img.png" alt="">
          </div>
        </div>

        <div class="col-md-6 py-3 py-md-0">
          <h2>How Travel Agency Work</h2>
          <p>Travel agencies facilitate travel bookings and arrangements for individuals or groups. They offer services such as booking flights, accommodations, transportation, and tours. Travel agents provide expertise, advice, and personalized itineraries to meet clients' preferences and budget, making travel planning convenient and hassle-free.</p>
          <button id="about-btn">Read More...</button>
        </div>

      </div>

    </div>
  </section>
