<header class="header">
  <nav class="navbar">
    <a class="brand" href="#">Travel Arena</a>
    <input type="checkbox" id="nav" class="hidden">
    <label for="nav" class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
     </label>
    <div class="wrapper">
      <ul class="menu">
        <li class="menu-item"><a href="#">Menu Item</a></li>
        <li class="menu-item"><a href="#">Menu Item</a></li>
        <li class="menu-item"><a href="#">Menu Item</a></li>
        <li class="menu-item"><a href="#">Menu Item</a></li>
        <li class="menu-item"><a href="#">Menu Item</a></li>
      </ul>
    </div>
  </nav>
</header>