@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Russo+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Poppins:wght@400;500;600&display=swap");

#navbar{
    // background: #e4dbe2;
    background: #005665;
    z-index: 4;
    // position: fixed;
}

#logo{
    font-family: 'Courgette', cursive;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    color: white;
    // text-shadow: 0px 1px 1px black;
    // margin-bottom: 5px;
}

#logo span{
    color: #ffa500;

}
.container{
    height: 60px;
}
.navbar-toggler span{
    color: #ffa500;
}

.navbar-nav{
    margin-left: 20px;
}

.nav-item .nav-link{
    font-family: 'Noto serif', serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    transition: transform .2s;

}

.nav-item .nav-link:hover{
    background: #ffa500;
    // color: white;
    transform: scale(1.1);
}

#navbar form button{
    background: orange;
    color: white;
    border: none;
}

.active{
    color: white;
    text-decoration: underline;
    color: white;
}
.navbar-brand.active span{
    border: 2px solid transparent;
}
