<!-- <div class="dialog-container">
    <h2>UPI Payment</h2>
    <p>Scan the QR code to make the payment:</p>
    <img src="../../assets/images/QR.svg" alt="QR">
  </div> -->
  <div class="qr-code-payment">
    <div class="payment-header">
      <h2>Scan QR Code to Make Payment</h2>
    </div>
    <div class="qr-code-container">
      <img src="../../assets/images/QR.svg" alt="QR Code">
    </div>
    <div class="payment-instructions">
      <p>Scan the QR code using your UPI app to proceed with the payment.</p>
    </div>
  </div>