/* .search-section {
  position: relative;
  height: auto; /* Adjust height as needed 
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-content {
  text-align: center;
}

.search-bar {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
}

.destination-dropdown,
.date-picker,
.people-input,
.search-button {
  margin: 5px;
}

.people-input button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
} */

.search-section{
  position: relative;
  margin-right: -100px;
  margin-top: 50px;
  height: 80vh;
  width: 100vw;
  background: url("/assets/images/searchBg.jpeg") no-repeat fixed center;
  background-size: cover;
}