<!-- <section class="search-section">
    <div class="background-image">
      <img src="assets/images/searchBg.jpeg">
    </div>
    <div class="search-container">
      <div class="search-content">
        <h1>Let 'em choose</h1>
        <div class="search-bar">
          <select class="destination-dropdown">
            <option value="" disabled selected hidden>Choose destination</option>
            <Add options for destinations her
          </select>
          <input type="date" class="date-picker">
          <div class="people-input">
            <button class="decrement-btn">-</button>
            <input type="number" class="people-count" value="1">
            <button class="increment-btn">+</button>
          </div>
          <button class="search-button">Search</button>
        </div>
      </div>
    </div>
  </section>
   -->

<div class="search-section"></div>