<!-- <div>
    <h2>Login</h2>
    <input type="text" placeholder="Username" [(ngModel)]="username" />
    <input type="password" placeholder="Password" [(ngModel)]="password" />
    <button (click)="login()">Login</button>
    <button (click)="register()">Register</button>
</div>
-->
<!-- login.component.html -->
<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="username"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <div class="form-group">
      <button type="submit">Login</button>
    </div>
  </form>
  <div class="register-link">
    <p>Don't have an account? <a (click)="register()">Register here</a></p>
  </div>
</div>

  