<footer id="footer">
    <h1><span>V</span>oyager</h1>
    <p style="font-size: medium;">Thank-you for visiting our page.</p>
    <div class="social-links">
      <a href="https://twitter.com/your_twitter_handle" target="_blank" style="font-size: medium;"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/your_facebook_page" target="_blank" style="font-size: medium;"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/your_instagram_account" target="_blank" style="font-size: medium;"><i class="bi bi-instagram"></i></a>
      <a href="https://www.youtube.com/your_youtube_channel" target="_blank" style="font-size: medium;"><i class="bi bi-youtube"></i></a>
      <a href="https://www.pinterest.com/your_pinterest_account" target="_blank" style="font-size: medium;"><i class="bi bi-pinterest"></i></a>
    </div>
    <div class="credit" style="margin: 15px 0;">
      <p style="font-size: smaller;">© 2024 Voyager PVT. LTD.</p>
    </div>
  </footer>