<!-- <div class="d-flex popup-container">
    <div class="col">
        <h2 class="popup-title">Thank You!</h2>
        <p class="popup-message">We will get back to you.</p>
        <button class="popup-button" mat-dialog-close>Close</button>
    </div>
</div> -->

<div class="popup-container">
    <div class="popup-content">
      <h2 class="popup-title">Thank You!</h2>
      <p class="popup-message">We will get back to you.</p>
      <button class="popup-button" mat-dialog-close>Close</button>
    </div>
  </div>
  