<!-- <section class="gallery" id="gallery">
    <div class="container">

      <div class="main-txt">
        <h1><span>G</span>allery</h1>
      </div>

      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-1.jpg" alt="" height="230px">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-2.jpg" alt="" height="230px">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-3.jpg" alt="" height="230px">
          </div>
        </div>
      </div>


      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-41.jpg" alt="" height="230px">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-51.jpg" alt="" height="230px">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-61.jpg" alt="" height="230px">
          </div>
        </div>
      </div>

    </div>
  </section> -->


  <section class="gallery" id="gallery">
    <div class="container">
  
      <div class="main-txt">
        <h1><span>G</span>allery</h1>
      </div>
  
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-1.jpg" alt="" height="230px">
            <div class="overlay">
              <div class="text">Place Name 1</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-2.jpg" alt="" height="230px">
            <div class="overlay">
              <div class="text">Place Name 2</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-3.jpg" alt="" height="230px">
            <div class="overlay">
              <div class="text">Place Name 3</div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-41.jpg" alt="" height="230px">
            <div class="overlay">
              <div class="text">Place Name 4</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-51.jpg" alt="" height="230px">
            <div class="overlay">
              <div class="text">Place Name 5</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/gallery-61.jpg" alt="" height="230px">
            <div class="overlay">
              <div class="text">Place Name 6</div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  
