
  <section class="gallery" id="gallery">
    <div class="container">
      <div class="main-txt">
        <h1><span class="orange">G</span>allery</h1>
      </div>
      <div class="row justify-content-center" style="margin-top: 30px;">
        <!-- First Row -->
        <div class="col-md-2 py-3 py-md-0 mr-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/Ladakh.png" alt="Ladakh" height="254px">
                <div class="overlay">
                  <div class="text">Ladakh</div>
                </div>
              </div>
              <div class="flip-card-back">
                <p class="title">Ladakh</p>
                <p>Ladakh is known for its breathtaking landscapes, including high mountain ranges,crystal-clear lakes. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 py-3 py-md-0 mr-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/Lakshadweep.png" alt="Lakshadweep" height="254px">
                <div class="overlay">
                  <div class="text">Lakshadweep</div>
                </div>
              </div>
              <div class="flip-card-back">
                <p class="title">Lakshadweep</p>
                <p>Dive into crystal-clear waters, explore vibrant coral reefs, and embrace the tranquility of island life.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 py-3 py-md-0 mr-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/Amritsar.png" alt="Amritsar" height="254px">
                <div class="overlay">
                  <div class="text">Amritsar</div>
                </div>
              </div>
              <div class="flip-card-back">
                <p class="title">Amritsar</p>
                <p>Immerse yourself in the rich cultural tapestry of Amritsar as you explore its iconic landmarks, including the majestic Golden Temple.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 py-3 py-md-0 mr-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/Kedarnath.png" alt="Kedarnath" height="254px">
                <div class="overlay">
                  <div class="text">Kedarnath</div>
                </div>
              </div>
              <div class="flip-card-back">
                <p class="title">Kedarnath</p>
                <p>Experience the serenity of Kedarnath as you immerse yourself in devotion, seeking blessings in the tranquil ambience.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 py-3 py-md-0 mr-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/Agra.png" alt="Agra" height="254px">
                <div class="overlay">
                  <div class="text">Agra</div>
                </div>
              </div>
              <div class="flip-card-back">
                <p class="title">Agra</p>
                <p>Explore the timeless allure of Agra, a city that wears its rich history like a crown jewel.Marvel at its ivory-white splendor under the golden rays of the sun.</p>
              </div>
            </div>
          </div>
         </div>
        <!--<div class="col-md-2 py-3 py-md-0 mr-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/images/gallery-kerala.jpg" alt="Kerala" height="230px">
                <div class="overlay">
                  <div class="text">Kerala</div>
                </div>
              </div>
              <div class="flip-card-back">
                <p class="title">BACK</p>
                <p>Leave Me</p>
              </div>
            </div>
          </div>
        </div>-->
       </div>
    </div>
  </section>
   