.pkg-carousel{
    display:flex;
    align-items: end;
    position: relative;
}

.left{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.right{
    height: 500px;
    width: 40%;
}
