.container{
    display:flex;
    /* height: 100vh;
    width: 100%; */
    height: auto;
    align-items: end;
    position: relative;
    padding-bottom: 100px;
}

.left{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.right{
    height: 500px;
    width: 40%;
}
