.create {
    /* background-color: #f0f0f0; */
    background-image: url('/assets/images/searchBg.jpeg');
    padding: 40px 0;
    margin: 120px 0 ;
    height: 80vh;
  }
  
  .create .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .create .left {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .create .right {
    height: 80vh;
    border: 1px solid white;
    border-radius: 10px;
    width: calc(35% - 20px);
    display: flex;
    flex-direction: column;
  }
  
  .create .up {
    height: 5%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .create .down {
    height: 95%;
    background-color: white;
    border-radius: 0px 0 10px 10px;
    padding: 20px;
  }
  
  /* .create .pic1, .create .pic2 {
    /* width: 150px;
    height: 150px; */
    /* background-color: #ccc;
  } */
  
  .create h1 {
    font-size: 24px;
    color: #333;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="number"],
  form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  form input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  /* Invalid input style */
  form input:valid,
  form select:invalid {
    border-color: red;
  }
  
  form input:invalid + label,
  form select:invalid + label {
    color: red;
  }
  
  form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  