<section class="create">
    <div class="container">
        <div class="left">
            <div class="pic1">
                <img src="assets/images/picture1-cyp.jpeg" alt="pic1" style="height: 450px;width: 300px;background-size: auto;border-radius: 10px;">
            </div>
            <div class="pic2">
                <img src="assets/images/picture2-cyp.jpeg" alt="pic1" style="height: 450px;width: 300px;background-size: auto;border-radius: 10px;">
            </div>
        </div>
        <div class="right">
            <div class="up">
                <h1>CREATE YOUR OWN PLAN</h1>
            </div>
            <div class="down">
                <div class="form">
                    <form id="tripForm">
                        <div>
                          <label for="name">Name:</label>
                          <input type="text" id="name" name="name" required>
                        </div>
                        <div>
                          <label for="email">Email:</label>
                          <input type="email" id="email" name="email" required>
                        </div>
                        <div>
                          <label for="destination">Destination:</label>
                          <input type="text" id="destination" name="destination" required>
                        </div>
                        <div>
                          <label for="starting-point">Starting Point:</label>
                          <input type="text" id="starting-point" name="starting-point" required>
                        </div>
                        <div>
                          <label for="num-days">Number of Days:</label>
                          <input type="number" id="num-days" name="num-days" min="1" required>
                        </div>
                        <div>
                          <label for="num-people">Number of People:</label>
                          <select id="num-people" name="num-people" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                        <button type="submit">Submit</button>
                      </form>
                      
                      
                </div>
            </div>
        </div>
    </div>
</section>