<section class="services" id="services">
    <div class="container">

      <div class="main-txt">
        <h1><span>S</span>ervices</h1>
      </div>

      <div class="row" style="margin-top: 30px;">

        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            <i class="bi bi-building-check"></i>
            <div class="card-body">
              <h3>Affordable Hotel</h3>
              <p>"Quality Stay, Affordable Rates: Your Comfort, Our Priority"</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            <i class="bi bi-cup-straw"></i>
            <div class="card-body">
              <h3>Food & Drinks</h3>
              <p>"Savor Every Moment: Exceptional Flavors, Unforgettable Experiences"</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            <i class="bi bi-cone-striped"></i>            <div class="card-body">
              <h3>Safty Guide</h3>
              <p>"Navigate with Confidence: Your Safety, Our Commitment"</p>
            </div>
          </div>

        </div>



      </div>


      <div class="row" style="margin-top: 30px;">

        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            <i class="bi bi-globe-asia-australia"></i>
            <div class="card-body">
              <h3>All Over India</h3>
              <p>"Discover the Wonders of Every Horizon: Explore, Experience, Enjoy!"</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            <i class="bi bi-airplane-fill"></i>
            <div class="card-body">
              <h3>Fastest Travel</h3>
              <p>"Swift Journeys, Boundless Adventures: Where Speed Meets Exploration"</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            <i class="bi bi-backpack2-fill"></i>
            <div class="card-body">
              <h3>Adventures</h3>
              <p>"Unleash Your Wanderlust: Thrills Await at Every Turn", Don't wait anymore!</p>
            </div>
          </div>

        </div>



      </div>

    </div>
  </section>