<app-navbar></app-navbar>
<div class="home">
    <div class="content">
        <h5>Welcome To World</h5>
        <h1>Visit <span class="changecontent"></span></h1>
        <p>Explore, Experience, Enrich: Your Gateway to Unforgettable Adventures</p>
        <a href="#book">Book Place</a>
    </div>
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
