<!-- <app-navbar></app-navbar> -->
<section class="payment">
    <div class="container mx-3 my-2">
        <div class="row">
            <div class="col">
                <img src="assets\images\france.png" alt="">
            </div>
            <div class="col">
                <div class="main-text">Summary</div>
                <div class="row-1">Total Price</div>
                <div class="row-2">Total Price</div>
                <div class="row-3">Total Price</div>
                <div class="row-4">Total Price</div>
                <div class="row-5">Total Price</div>
                <div class="button">Button</div>
            </div>
        </div>
    </div>
</section>