<!-- <div class="dialog-container">
    <h2>Card Payment</h2>
    <form>
      
      <label for="cardNumber">Card Number:</label>
      <input type="text" id="cardNumber" name="cardNumber" required>
      
      <button type="submit">Submit</button>
    </form>
  </div> -->
  <div class="payment-card-dialog">
    <div class="payment-card">
      <div class="card-logo">
        <img src="../../assets/images/PayPal.svg.png" alt="Card Logo">
      </div>
      <form class="card-form">
        <div class="form-group">
          <label for="cardNumber">Card Number</label>
          <input type="text" id="cardNumber" name="cardNumber" placeholder="**** **** **** 1234" [(ngModel)]="cardNumber" required>
          <div *ngIf="cardNumber && !validateCardNumber(cardNumber)" class="error-message">
            Invalid card number
          </div>
        </div>
        <div class="form-group">
          <label for="expiryDate">Expiry Date</label>
          <input type="text" id="expiryDate" name="expiryDate" placeholder="MM/YY" [(ngModel)]="expiryDate" required>
          <div *ngIf="expiryDate && !validateExpiryDate(expiryDate)" class="error-message">
            Invalid expiry date
          </div>
        </div>
        <div class="form-group">
          <label for="cvv">CVV</label>
          <input type="password" id="cvv" name="cvv" placeholder="123" [(ngModel)]="cvv" >
          <div *ngIf="cvv && !validateCVV(cvv)" class="error-message">
            Invalid CVV
          </div>
        </div>
        <button type="button" class="pay-now-button" (click)="onPayNow()">Pay Now</button>
      </form>
      <div class="card-brand">PayPal</div>
    </div>
  </div>
  
  