

.profile-container {
    max-width: 400px;
    margin: 100px 420px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color:rgba(126, 101, 94, 0.189);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-top: 0px;
    margin-bottom:15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    color:#e9c77e !important;
    background-color: #6f5750 !important;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
  
  button:hover {
    color:#F0AC19;
    background-color: #4D3B36;
  }
  