<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
<div class="section__container">
  <div class="header">
    <!-- <p>TESTIMONIALS</p> -->
    <h1 style="padding-top: 100px">What our clients say about us.</h1>
  </div>
  <br><br><br>
  <div class="testimonials__grid">
    <div class="card">
      <span><i class="ri-double-quotes-l"></i></span>
      <p>
        Quality assurance, quality control, made me realize I should spend quality time with myself by visiting
        Lakshadweep. Excellent service!!!
      </p>
      <hr />
      <img src="assets\images\sk.jpg" alt="user" />
      <p class="name">Santhosh Kommajosyula</p>
    </div>
    <div class="card">
      <span><i class="ri-double-quotes-l"></i></span>
      <p>
        I have no idea what I'm doing here, I have my own private jet...Anyways amazing website
      </p>
      <hr />
      <img src="assets\images\srk.jpg" alt="user" />
      <p class="name">SRK</p>
    </div>
    <div class="card">
      <span><i class="ri-double-quotes-l"></i></span>
      <p>
        Voyager made me realize Angular is not my first love anymore. Love the validations as well. Bravo Guys
      </p>
      <hr />
      <img src="assets\images\yg.jpg" alt="user" />
      <p class="name">Yenni Gajapathi</p>
    </div>
  </div>
  <br><br>
  <div class="footer">
    <h4>We believe in satisfying our customers</h4>
<br><br>
  </div>
</div>