<!-- cookie-policy.component.html -->

<div class="help-center-container">
    <div class="help-center-box">
      <!-- help-center.component.html -->


    <h1>Help Center</h1>
    
    <p>Welcome to our Help Center. Here you can find answers to frequently asked questions and get assistance with common issues.</p>
    
    <h2>Getting Started</h2>
    
    <p>If you're new to our platform, check out our getting started guide for step-by-step instructions on how to use our services.</p>
    
    <h2>FAQs</h2>
    
    <p>Explore our frequently asked questions to find answers to common inquiries. If you can't find what you're looking for, feel free to contact our support team.</p>
    
    <h2>Contact Us</h2>
    
    <p>If you need further assistance or have any questions, don't hesitate to contact our support team. We're here to help!</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor diam sit amet purus fermentum fringilla. Vestibulum rhoncus risus a nunc blandit, et interdum odio tincidunt. Vivamus in luctus magna. Nulla facilisi. Integer sed ultricies nisi. In facilisis purus nec erat faucibus convallis. Mauris vehicula arcu ac neque finibus ullamcorper. Proin aliquam, elit quis consectetur ultricies, turpis leo elementum mi, nec condimentum leo magna ut libero.</p>
    
    <p>Integer at erat non mi malesuada placerat nec nec magna. Duis vehicula bibendum nisi, sit amet ultricies odio congue ac. Curabitur a massa in eros dictum vehicula. Mauris quis pharetra est. Proin volutpat nulla vel sem consectetur, sit amet egestas libero semper. Cras ac leo nulla. Sed dapibus metus quis ligula iaculis, at feugiat nisi viverra. Vestibulum varius bibendum ligula, nec blandit sapien gravida nec. Aliquam efficitur ligula et urna egestas, vel consequat lacus laoreet. Curabitur ultrices orci et felis dapibus, eget gravida elit tincidunt. Phasellus sit amet quam at ex sodales scelerisque sed in mi. Cras sollicitudin dapibus metus, nec varius purus imperdiet a. Duis hendrerit magna sed consequat congue. Integer aliquet sollicitudin nunc, eget suscipit odio ullamcorper ut.</p>
    
    <p>Vestibulum tempus elit et erat finibus, at posuere mauris accumsan. Ut at placerat ipsum. Nullam id nisl in arcu congue malesuada non eu ex. Ut in tincidunt arcu. Vivamus in dictum lacus. Cras suscipit dolor nec odio placerat, quis cursus quam interdum. Donec lacinia velit sit amet nisi tempus, ac condimentum neque consequat. Mauris non eros tristique, rhoncus quam vel, convallis eros.</p>
    
    <p>If you have any questions or concerns, please don't hesitate to contact us at support[at]voyager.com.</p>
</div>

    </div>


    <footer id="footer">
      <h1><span>V</span>oyager</h1>
      <p>Thank-you for visiting our page.</p>
      <div class="social-links">
        <a href="https://twitter.com/your_twitter_handle" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/your_facebook_page" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/your_instagram_account" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/your_youtube_channel" target="_blank"><i class="bi bi-youtube"></i></a>
        <a href="https://www.pinterest.com/your_pinterest_account" target="_blank"><i class="bi bi-pinterest"></i></a>
      </div>
      <div class="credit" style="margin: 15px 0;">
        <p>© 2024 Voyager PVT. LTD.
   
           <b>Country India USA UAE</b></p>
      </div>
    </footer>
  
  